@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    min-height: 100vh;
}
aside {
    width: 50px;
    background-color: #eeeeee;
}
main {
    width: calc(100% - 50px);
}
.header{
    height: 300px;
    background-color: #616161;
    display: flex;
    padding: 20px 3%;
    color: white;
}
.header>div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-btn{
    display: flex;
}
.header h1 {
    margin-bottom: 15px;
}
.header p {
    margin-bottom: 10px;
}
.header-btn>div {
    width: 100px;
}